.project
.settings/org.eclipse.m2e.core.prefs
core/.classpath
core/.project
core/.settings/org.eclipse.jdt.apt.core.prefs
core/.settings/org.eclipse.jdt.core.prefs
core/.settings/org.eclipse.m2e.core.prefs
core/target/time-tracker-core-0.3.1.jar
core/target/classes/clinic/programming/timetracker/core/Tracker.class
core/target/classes/clinic/programming/timetracker/core/TrackerCoreConfig.class
core/target/classes/clinic/programming/timetracker/core/dao/TimeEntry.class
core/target/maven-archiver/pom.properties
core/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
core/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
core/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
core/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
core/target/surefire-reports/clinic.programming.timetracker.core.TrackerCoreConfigTest.txt
core/target/surefire-reports/clinic.programming.timetracker.core.TrackerTest.txt
core/target/surefire-reports/TEST-clinic.programming.timetracker.core.TrackerCoreConfigTest.xml
core/target/surefire-reports/TEST-clinic.programming.timetracker.core.TrackerTest.xml
core/target/test-classes/clinic/programming/timetracker/core/TrackerCoreConfigTest.class
core/target/test-classes/clinic/programming/timetracker/core/TrackerTest.class
web/.classpath
web/.project
web/.settings/org.eclipse.jdt.apt.core.prefs
web/.settings/org.eclipse.jdt.core.prefs
web/.settings/org.eclipse.m2e.core.prefs
web/target/time-tracker-web-0.3.1.war
web/target/maven-archiver/pom.properties
web/target/time-tracker-web-0.3.1/index.jsp
web/target/time-tracker-web-0.3.1/WEB-INF/web.xml
web/target/time-tracker-web-0.3.1/WEB-INF/lib/aopalliance-1.0.jar
web/target/time-tracker-web-0.3.1/WEB-INF/lib/commons-logging-1.2.jar
web/target/time-tracker-web-0.3.1/WEB-INF/lib/spring-aop-4.1.6.RELEASE.jar
web/target/time-tracker-web-0.3.1/WEB-INF/lib/spring-beans-4.1.6.RELEASE.jar
web/target/time-tracker-web-0.3.1/WEB-INF/lib/spring-context-4.1.6.RELEASE.jar
web/target/time-tracker-web-0.3.1/WEB-INF/lib/spring-core-4.1.6.RELEASE.jar
web/target/time-tracker-web-0.3.1/WEB-INF/lib/spring-expression-4.1.6.RELEASE.jar
web/target/time-tracker-web-0.3.1/WEB-INF/lib/time-tracker-core-0.3.1.jar
